{% extends 'base.html' %}

{% block content %}
<section class="todoapp">
	<header class="header">
		<h1>todos</h1> 
		<form action="/process-task" method="POST">{% csrf_token %}
			<input type="hidden" name="cmd" value="new_task">
			<input autofocus="autofocus" autocomplete="off" placeholder="What needs to be done?" 
			class="new-todo" name="title">
		</form> 
	</header> 
	<section class="main" style="">
	<form action="/process-task" method="POST">{% csrf_token %}
		<input type="hidden" name="cmd" value="toggle_all">
		<input id="toggle-all" type="submit" class="toggle-all"> 
		<label for="toggle-all">Mark all as complete</label>
	</form>
		<ul class="todo-list">
			{% for task in tasks %}
			<li class="todo {% if task.status %}completed{% endif %}">
				<div class="view">
					<input type="checkbox" class="toggle" {% if task.status %}checked{% endif %}> 
					<label>{{ task.title }}</label> 
					<form action="/process-task" method="POST">{% csrf_token %}
						<input type="hidden" name="task_id" value="{{ task.id }}">
						<input type="hidden" name="cmd" value="delete">
						<button class="destroy"></button>
					</form>
				</div> 
				<input type="text" class="edit">
			</li>
			{% endfor %}
		</ul>
	</section> 
	
	<footer class="footer" style="">
		<span class="todo-count">
		<strong>2</strong> items left
				</span> <ul class="filters"><li><a href="#/all" class="selected">All</a></li> <li><a href="#/active" class="">Active</a></li> <li><a href="#/completed" class="">Completed</a></li></ul> <button class="clear-completed" style="">
					Clear completed
				</button>
	</footer>
</section>

<footer class="info">
	<p>Double-click to edit a todo</p>
	<p>Written by <a href="http://evanyou.me">Evan You</a></p>
	<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
{% endblock %}
